<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:action="@{/admin/updateUser}" th:object="${user}" method="post">

  <label for="id">ID Only for read</label>
  <input type="number" th:field="*{id}" id="id" readonly>
  <br><br>
  <label for="firstName">FIRST NAME</label>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="FIRST NAME">
  <br><br>
  <label for="lastName">LAST NAME</label>
  <input type="text" th:field="*{lastName}" id="lastName" placeholder="LAST NAME">
  <br><br>
  <label for="age">AGE</label>
  <input type="number" th:field="*{age}" id="age" placeholder="AGE">
  <br><br>
  <label for="userName">EMAIL</label>
  <input type="text" th:field="*{userName}" id="userName" placeholder="EMAIL">
  <br><br>
  <label for="password">PASSWORD</label>
  <input type="text" th:field="*{password}" id="password" placeholder="PASSWORD">
  <br><br>
  <select multiple size="2" name="listRoleId" required class="form-control form-control-sm">
    <option value="1">ROLE_ADMIN</option>
    <option selected="selected" value="2">ROLE_USER</option>
  </select>



  <input type="submit" value="Update">

</body>
</html>